body{
  /*background:url(http://i45.tinypic.com/2i2255j.png);*/
  background-image: url('../Images/1.jpg');
  background-repeat: no-repeat;
  background-size:cover;
}

.noteDiv, .displayNote {
  position: relative;
  margin-right:0;
}
.submit{
  position: absolute;
  bottom: 0;
  left: 50px;
}

.wrapper.col-md-4 {
      padding-left: 500px;
}

h1 {
  text-align: center
}

.delete {
     margin-left: 10px;
}


p{
  margin: 16px 24px;
}

a {
    background-color: rgb(223, 240, 216);
}

textarea {
 margin: 50px;
 height: 300px;
}

.displayNote {
  border: 1px solid black;
    height: 300px;
    float: right;
    width: 150px;
    margin: 50px;
    background: white;

}

h3.click {
    height: 26px;
    background-color: #8BC34A;
}


/* keyframes for rotating animation */
@-webkit-keyframes spin {
  from { transform: rotateY(0); }
  to   { transform: rotateY(360deg); }
}

/* scene wrapper */
.wrapper{
  height: 300px;
  margin-top:50px;
  position:relative;
  perspective: 800;
  perspective-origin: 50% 100px;
}

/* cube wrapper */
.cube{
  position: relative;
  margin: 0 auto;
  width: 200px;
  transform-style: preserve-3d;
  transition: all 1s linear;
}

.rotate {
	animation: spin 20s infinite linear;
}

/* outer cube */
b{
  position:absolute;
  width:350px;
  height:360px;
  display:block;
  /*background:rgba(255,255,255,0.1);*/
  background: rgba(96, 125, 139, 0.44);

  /*box-shadow:inset 0 0 30px rgba(0,0,0,0.2);*/
  box-shadow:inset 0 0 30px #9E9E9E;
  font-size:20px;
  text-align:center;
  line-height:200px;
  color: black;
  /*color:rgba(0,0,0,0.5);*/
  font-family:sans-serif;
  /*text-transform:uppercase;*/
  transition: all 1s linear;
}
b.back{
  transform: translateZ(-100px) rotateY(180deg);
}
b.right{
  transform:rotateY(-270deg) translateX(100px);
  transform-origin: top right;
}
b.left{
  transform:rotateY(270deg) translateX(-100px);
  transform-origin: center left;
}
b.top{
  transform:rotateX(-90deg) translateY(-100px);
  transform-origin: top center;
}
b.bottom{
  transform:rotateX(90deg) translateY(100px);
  transform-origin: bottom center;
}
b.front{
  transform: translateZ(100px);
  text-align: justify;
    padding-right: 11px;
}

/* inner cube */
i{
  position:absolute;
  top:130px;
  left:50px;
  width:220px;
  height:220px;
  display:block;
  /*background:url('../images/news.jpg');*/
  transition: all 1s linear;
}
i.front{
  transform: translateZ(50px);
}
i.back{
  transform: translateZ(-50px) rotateY(180deg);
}
i.bottom{
  transform:rotateX(-90deg) translateY(50px);
  transform-origin: left bottom;
}
i.left{
  transform:rotateY(270deg) translateX(-50px);
  transform-origin: center left;
}
i.right{
  transform:rotateY(-270deg) translateX(50px);
  transform-origin: top right;
}
i.top{
  transform:rotateX(-270deg) translateY(-50px);
  transform-origin: left top;
}

/* hover transformations */
/*.cube:hover{
  top:150px;
}
.cube:hover b.top{
  transform: translateZ(100px) rotateX(-210deg);
  transform-origin: top center;
}
.cube:hover i{
  top:-200px;
}*/